Tシャツ:
= @order.tshirt
%br/
シャツ:
= @order.shirt
%br/
スーツ:
= @order.suit
%br/
セーター:
= @order.sweater
%br/
カーディガン:
= @order.cardigan
%br/
ブラウス:
= @order.blouse
%br/
その他トップス:
= @order.othertops
%br/
スカート:
= @order.skirt
%br/
ワンピ:
= @order.onepiece
%br/
%br/
住所:
= @order.address
受け取り時間:
= @order.receivetime
電話:
= @order.tel